<div id="add">
</div>

<div id="form">
</div>

<div id="table">
</div>

<pre id="results">{{results}}</pre>



<form id="formOld" action="/safe-update" method="get">
<fieldset>
    <legend>edit</legend>
      {{#each users}} 
    <input name="table" value={{table}} class="hidden-table" type="hidden">
    <div id="input">

    <label>
        <span class="name" style="width: 65px;">name</span>
        <span> ⇢ </span>
        <input size="20" name="name" id="name" type="text_input" value="{{name}}">
    </label>

    <label>
        <span class="name" style="width: 65px;">password</span>
        <span> ⇢ </span>
        <input size="20" name="password" id="password" type="text_input" value="{{password}}">
    </label>

    <label>
        <span class="name">notifications</span>
        <span> ⇢ </span>
        <input size="20" name="notifications" id="notifications" type="checkbox">
    </label>



<input id="table" name="table" value={{table}} class="hidden-table" type="hidden">
<input id="id" name="id" value={{id}} class="hidden" type="hidden">
<input class="submit" value="Submit" id="submit" type="submit">
  {{/each}} 
</fieldset>
</form>

<h2>{{table}}</h2>
  {{#each users}} 
<table>
  <tr> 
    <th>id</th> 
    <th>name</th> 
    <th>password</th>
    <td>notifications</td>
  </tr> 
  <tr> 
        <td>{{id}}</td> 
        <td>{{name}}</td> 
        <td>{{password}}</td> 
        <td>{{notifications}}</td>
  </tr> 
    </form>
    </td>
  {{/each}} 
</table> 

<script>

// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');
    let buttonHidden = document.getElementById("id");

            console.log("adding ev to submit button");
    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){;
            console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();


            let name = document.getElementById("name").value;

            let password = document.getElementById("password").value;
            let notificationsStatus = document.getElementById("notifications").checked;
            let notifications = -5;
            console.log("notificationsStatus: ", notificationsStatus);
            if (notificationsStatus == true) {
                notifications = 1;
            }
            else {
                notifications = 0
            }


            req.open('GET', '/safe-update' + '?table=' + '{{table}}' + '&id=' + buttonHidden.value + '&name=' + name + "&password=" + password + '&notifications=' + notifications, true);

            event.preventDefault();
            req.onload = function() {
                let res = req.responseText;
                window.location.href = '/{{table}}';
            }

            req.send(null);
            
        });
    }
}
</script>


